# Remove Apple OS Files
venv/
.DS_Store
site/
.tox/
old_wiki_files/Teams/Team_Woodwork.md
old_wiki_files/Teams/Team_Template.md
old_wiki_files/Teams/Team_Social.md
old_wiki_files/Teams/Team_Procurement.md
old_wiki_files/Teams/Team_Laser.md
old_wiki_files/Teams/Team_Events.md
old_wiki_files/Teams/Team_Electrical.md
old_wiki_files/Teams/Team_Documentation.md
old_wiki_files/Teams/Team_Craft.md
old_wiki_files/Teams/Team_3D_Print.md
old_wiki_files/Suppliers/Suppliers.md
old_wiki_files/Suppliers/Rapid.md
old_wiki_files/Suppliers/PCB_Manufacturers.md
old_wiki_files/Suppliers/Fred_Aldous.md
old_wiki_files/Suppliers/Farnell.md
old_wiki_files/Suppliers/Abakhan_Fabrics.md
old_wiki_files/Projects/Water_Chimes.md
old_wiki_files/Projects/Vacuum_Former.md
old_wiki_files/Projects/Twitter_Drummer.md
old_wiki_files/Projects/Tweet_and_Spell.md
old_wiki_files/Projects/TPLink_WR703N.md
old_wiki_files/Projects/Telepresence_Robot.md
old_wiki_files/Projects/Stupid_Giant_Mouse.md
old_wiki_files/Projects/Splattershot.md
old_wiki_files/Projects/SolderingIronOctopus.md
old_wiki_files/Projects/Shutter_sensor.md
old_wiki_files/Projects/RepRap_MendelMax.md
old_wiki_files/Projects/R2_Micromouse.md
old_wiki_files/Projects/Quadcopter/Quadcopter.md
old_wiki_files/Projects/Quadcopter/Hardware.md
old_wiki_files/Projects/Quadcopter/Electronics.md
old_wiki_files/Projects/Project_a_Sketch/Hardware.md
old_wiki_files/Projects/Project_a_Sketch.md
old_wiki_files/Projects/PCR_Machine.md
old_wiki_files/Projects/Next_Train_Clock.md
old_wiki_files/Projects/Minimus.md
old_wiki_files/Projects/Meeting_Box.md
old_wiki_files/Projects/MAME_Machine.md
old_wiki_files/Projects/Madlab_Storage/Software_v02.md
old_wiki_files/Projects/Madlab_Storage/Software_v01.md
old_wiki_files/Projects/Madlab_Storage/Hardware_v02.md
old_wiki_files/Projects/Madlab_Storage/Hardware_v01.md
old_wiki_files/Projects/Madlab_Storage.md
old_wiki_files/Projects/Luminch_One.md
old_wiki_files/Projects/Light_System.md
old_wiki_files/Projects/LED_Sign/protocol.md
old_wiki_files/Projects/LED_Sign/Gimp_Plugin.md
old_wiki_files/Projects/LED_Sign.md
old_wiki_files/Projects/Knock_Clock.md
old_wiki_files/Projects/K40-III.md
old_wiki_files/Projects/Instant_TV_studio.md
old_wiki_files/Projects/Hackspace/Gibson.md
old_wiki_files/Projects/Giant_Operation_Game.md
old_wiki_files/Projects/Feedprinter.md
old_wiki_files/Projects/Dynamic_controls_motor_controller.md
old_wiki_files/Projects/Donation_Box.md
old_wiki_files/Projects/DIYBIO_PCR_Thermocycler.md
old_wiki_files/Projects/DIY_Laser_Cutter.md
old_wiki_files/Projects/DIY_CNC.md
old_wiki_files/Projects/DeltaBanker.md
old_wiki_files/Projects/Book_Safes.md
old_wiki_files/Projects/BeamForge.md
old_wiki_files/Projects/B-MO_Mk.III.md
old_wiki_files/Projects/B-MO_Mk.II.md
old_wiki_files/Projects/B-MO_Mk.I.md
old_wiki_files/Projects/AW_Light_Tank.md
old_wiki_files/Projects/Arduino_Kit/Contents.md
old_wiki_files/Projects/Arduino_Kit.md
old_wiki_files/Pledges/Wood_Lathe_Startup.md
old_wiki_files/Pledges/VacuumFormer.md
old_wiki_files/Pledges/Vacuum_cleaner.md
old_wiki_files/Pledges/SuperSolderingStation.md
old_wiki_files/Pledges/Soldering_Station.md
old_wiki_files/Pledges/Shedful_of_Tools_pledge.md
old_wiki_files/Pledges/Reflow_Oven.md
old_wiki_files/Pledges/PrusaNozzel.md
old_wiki_files/Pledges/Press_Break.md
old_wiki_files/Pledges/OxCNCIan.md
old_wiki_files/Pledges/NFCRings.md
old_wiki_files/Pledges/Mircroscope.md
old_wiki_files/Pledges/MicroServer.md
old_wiki_files/Pledges/Metal_Cutting_Bandsaw.md
old_wiki_files/Pledges/MaplinComponentsDrawers.md
old_wiki_files/Pledges/Infrared_Heater.md
old_wiki_files/Pledges/Heavy_Duty_Sewing_Machine.md
old_wiki_files/Pledges/Frikkin_Laser.md
old_wiki_files/Pledges/Electric_Screwdrivers.md
old_wiki_files/Orders/Minimus.md
old_wiki_files/oldpagelist.md
old_wiki_files/Howtos/OpenSCAD.md
old_wiki_files/Howtos/Online_Resources.md
old_wiki_files/Howtos/Music.md
old_wiki_files/Howtos/How-to_pcb.md
old_wiki_files/Howtos/Electrolysis_Derust.md
old_wiki_files/Hackspace/Woody_Dusty.md
old_wiki_files/Hackspace/Why_Don't_We.md
old_wiki_files/Hackspace/Wellington_House.md
old_wiki_files/Hackspace/Warnings.md
old_wiki_files/Hackspace/ToDo.md
old_wiki_files/Hackspace/The_Shop.md
old_wiki_files/Hackspace/The_Board.md
old_wiki_files/Hackspace/Stupid_Ideas.md
old_wiki_files/Hackspace/Storage_Rules.md
old_wiki_files/Hackspace/Space_Search_2018.md
old_wiki_files/Hackspace/Social_Meetings.md
old_wiki_files/Hackspace/Snackspace.md
old_wiki_files/Hackspace/Risk_Assessments.md
old_wiki_files/Hackspace/RequestLetters/Leigh.md
old_wiki_files/Hackspace/RequestLetters/Equipment.md
old_wiki_files/Hackspace/Random_Ideas.md
old_wiki_files/Hackspace/Past_Events.md
old_wiki_files/Hackspace/Pack_the_Space.md
old_wiki_files/Hackspace/Org_Meeting_Notes_2011-07-31.md
old_wiki_files/Hackspace/Oops_Form.md
old_wiki_files/Hackspace/New_Members.md
old_wiki_files/Hackspace/MQTT.md
old_wiki_files/Hackspace/Members_Meeting.md
old_wiki_files/Hackspace/Meeting_Notes_2011-04-13.md
old_wiki_files/Hackspace/Meeting_Notes_2011-04-06.md
old_wiki_files/Hackspace/Meeting_Notes_2011-03-30.md
old_wiki_files/Hackspace/Meeting_Notes_2010-03-10.md
old_wiki_files/Hackspace/Mailing_list.md
old_wiki_files/Hackspace/Lockup_Procedure.md
old_wiki_files/Hackspace/Legacy_44_Edge_Street/Spacewarming_Party.md
old_wiki_files/Hackspace/Legacy_44_Edge_Street/Keys.md
old_wiki_files/Hackspace/Legacy_44_Edge_Street.md
old_wiki_files/Hackspace/IRC_URLs.md
old_wiki_files/Hackspace/HACMan_Service_Kiosk.md
old_wiki_files/Hackspace/HACMan_History.md
old_wiki_files/Hackspace/HACMan.md
old_wiki_files/Hackspace/Hackspace_Rules.md
old_wiki_files/Hackspace/Hackscreen.md
old_wiki_files/Hackspace/Habari_URL_Bounce.md
old_wiki_files/Hackspace/Election2018.md
old_wiki_files/Hackspace/Election2017.md
old_wiki_files/Hackspace/Door-System/Legacy_Talk_Door_Control.md
old_wiki_files/Hackspace/Door-System/Legacy_Door_Control.md
old_wiki_files/Hackspace/Door-System/HACCESS.md
old_wiki_files/Hackspace/Door-System/Entry_System.md
old_wiki_files/Hackspace/Door-System/Door_Control/Version_0-3.md
old_wiki_files/Hackspace/Door-System/Door_Control/Version_0-2.md
old_wiki_files/Hackspace/Door-System/Door_Control/Version_0-1/Previous_Sub-Versions.md
old_wiki_files/Hackspace/Door-System/Door_Control/Version_0-1.md
old_wiki_files/Hackspace/Door-System/Door_Control/Database.md
old_wiki_files/Hackspace/Door-System/A.L.FR.E.D/A.L.V.IN.md
old_wiki_files/Hackspace/Door-System/A.L.FR.E.D.md
old_wiki_files/Hackspace/Craftspace.md
old_wiki_files/Hackspace/Code_of_Conduct.md
old_wiki_files/Hackspace/Broadstone_Mill_Hackspace.md
old_wiki_files/Hackspace/Bin_Conveyor.md
old_wiki_files/Hackspace/Bans_and_Suspensions.md
old_wiki_files/Hackspace/44_Edge_Street_Exit_procedures.md
old_wiki_files/Equipment/Wood_Pillar_Drill.md
old_wiki_files/Equipment/Wood_lathe.md
old_wiki_files/Equipment/Tools_Wishlist.md
old_wiki_files/Equipment/Tenma_Rework_Station.md
old_wiki_files/Equipment/Tablesaw.md
old_wiki_files/Equipment/Roland_CAMM3.md
old_wiki_files/Equipment/RepRap_MendelMax/Late_2013_Upgrades.md
old_wiki_files/Equipment/RepRap_MendelMax/Gen7.md
old_wiki_files/Equipment/RepRap_MendelMax/Early_2014_Upgrades.md
old_wiki_files/Equipment/OxCNC.md
old_wiki_files/Equipment/Overlocker.md
old_wiki_files/Equipment/Mitre_Saw.md
old_wiki_files/Equipment/Metal_Pillar_Drill.md
old_wiki_files/Equipment/MendelMax.md
old_wiki_files/Equipment/Mendel90.md
old_wiki_files/Equipment/Laser_printer.md
old_wiki_files/Equipment/Laser_Cutter/Worklog.md
old_wiki_files/Equipment/Laser_Cutter/Training.md
old_wiki_files/Equipment/Laser_Cutter/Status.md
old_wiki_files/Equipment/Laser_Cutter/Software.md
old_wiki_files/Equipment/Laser_Cutter/Risk_Assessment_Laser_Cutter_(Blue).md
old_wiki_files/Equipment/Laser_Cutter/OrangeLaser/Worklog.md
old_wiki_files/Equipment/Laser_Cutter/OrangeLaser/Risk_Assessment.md
old_wiki_files/Equipment/Laser_Cutter/OrangeLaser/Inductions.md
old_wiki_files/Equipment/Laser_Cutter/inductions.md
old_wiki_files/Equipment/Laser_Cutter/Design.md
old_wiki_files/Equipment/Laser_Cutter.md
old_wiki_files/Equipment/Jigsaws.md
old_wiki_files/Equipment/Fretsaw.md
old_wiki_files/Equipment/Equipment_Needed.md
old_wiki_files/Equipment/Equipment.md
old_wiki_files/Equipment/Electrospace.md
old_wiki_files/Equipment/Electronics_Bits.md
old_wiki_files/Equipment/Electronics.md
old_wiki_files/Equipment/CNC_Shapeoko.md
old_wiki_files/Equipment/Biscuit_Jointer.md
old_wiki_files/Equipment/Bench_Sander.md
old_wiki_files/Equipment/Bench_Grinder/Risk_Assessment.md
old_wiki_files/Equipment/Bench_Grinder/Qualification.md
old_wiki_files/Equipment/Bench_Grinder.md
old_wiki_files/Equipment/Bandsaw.md
old_wiki_files/Equipment/3D_Printers.md
docs/Workshop_Areas/Visual_Arts/Equipment/images/yellow.jpg
docs/Workshop_Areas/Visual_Arts/Equipment/images/red.jpg
docs/Workshop_Areas/Visual_Arts/Equipment/images/origin_settings.png
docs/Workshop_Areas/Visual_Arts/Equipment/images/lightburn_layout.png
docs/Workshop_Areas/Visual_Arts/Equipment/images/lightburn_controls.png
docs/Workshop_Areas/Visual_Arts/Equipment/images/layers.png
docs/Workshop_Areas/Visual_Arts/Equipment/images/laser_bed.jpg
docs/Workshop_Areas/Visual_Arts/Equipment/images/green.jpg
docs/Workshop_Areas/Visual_Arts/Equipment/images/file_list.jpg
docs/Workshop_Areas/Visual_Arts/Equipment/images/cut_selection.png
docs/Workshop_Areas/Visual_Arts/Equipment/images/cut_options.png
docs/Workshop_Areas/Visual_Arts/Equipment/images/bluey_control_panel.jpg
docs/Workshop_Areas/Visual_Arts/Equipment/images/bluey_buttons.jpg
docs/Workshop_Areas/Visual_Arts/Equipment/images/bed-height-guide.png
